html,
body {
    width: 100%;
    display: flex;
    flex-flow: column;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;
}

.control {
    width: 100px;
    height: 100px;
}

.up, .down {
    margin-left: auto;
    margin-right: auto;
    display: inherit;
}

#canvas {
    border: 10px solid black;
    box-sizing: content-box;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

#start, #pause {
    margin-top: 10px;
    width: 100px;
    height: 50px;
}

#pause {
    display: none;
}

.none {
    visibility: hidden;
    margin: 25px;
}

.middle {
    display: flex;
}

.controls {
    text-align: center;
    margin-bottom: 50px;
}

@media (min-width: 600px) {
    .controls {
        display: none;
    }
}

#buttons {
    text-align: center;
    margin-bottom: 10px;
}

.filler {
    flex: 1 1;
}


